.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chessboard {
    /* display: flex */
    /* flex-direction: column; */
    /* border: 5px solid #000; */
    display: inline-block;
    transform: rotate(-5deg);
}


.row {
    display: flex;
}

.cell {
    width: 205px;
    height: 205px;
}

.white {
    background-color: white;
}

.black {
    background-color: lightslategrey;
}

.black:hover {
    opacity: 0.7;
}

.white:hover {
    background-color: lightgray;
}