.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.InfoCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(240, 240, 240, 0.3);
  padding: 20px;
  clip-path: polygon(0 15px, 15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%);
  backdrop-filter: blur(5px);
  width: 400px;
  height: 300px;
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
  }

  .InfoCard {
    width: auto;
    max-width: none; /* Restaura el ancho máximo para pantallas más grandes */
    height: auto;
  }
}