body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Centrar elementos en línea con text-align */
.centrar1 {
  text-align: center;
}

/* Centrar elementos de bloque con margin: auto */
.centrar2 {
  width: 50%; /* o cualquier ancho deseado */
  margin: auto;
}

/* Centrar con Flexbox */
.centrar3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrado3-elemento {
  /* Estilos del elemento centrado */
}

/* Centrar con Grid */
.centrar4 {
  display: grid;
  place-items: center;
}

.centrado4-elemento {
  /* Estilos del elemento centrado */
}

/* Centrar con position: absolute y transform */
.centrar5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Centrar con display: table-cell */
.centrar6 {
  display: table;
  width: 100%;
  height: 100%;
}

.centrado6-elemento {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* Centrar con position: relative y position: absolute */
.centrar7 {
  position: relative;
  height: 100vh;
}

.centrado7-elemento {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
